.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 30px;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #0062cc;
}

p {
  margin: 0.5rem;
  font-size: 1.2rem;
}
